.footer{
         background-color: rgb(46, 46, 223);
         text-align: center;
         padding: 5px;
         border-radius: 8px;
         margin-top: 20px;

}
.header{
         display: flex;
         justify-content: space-between;
         text-align: center;
         align-items: center;
         padding: 8px;
         border-radius: 8px;
         background-color: red;
}