.continer{
         display: flex;
         align-items: center;
         justify-content: center;

}
.continer p{
         margin:0 15px 0 15px;
         border: 2px solid rgb(121, 16, 220) ;
         background-color: rgb(34, 24, 43);
         padding: 5px;
         width: 30px;
height: 35px;
text-align: center;
}
.continer button{
         padding: 8px;
         border: 2px solid  #223344;
         background-color: #223344;
         color: #fff;
         border-radius: 5px;
         cursor: pointer;
}

.selected{
         color: red;

}
.clear{
         opacity: .3;
}