.continer{
         display: flex;
         justify-content: center;
         margin: 50px 0 100px;
         min-height: 1000px;
         
}
.table {
         width: 100%;
         border-collapse: collapse;
}
.table thead {
       border-bottom: 2px solid #fff;
       margin-bottom: 20px;
}
.table th{
         /* justify-content: space-between; */
         text-align: left;
         font-size: 1.2rem;
         padding: 10px 0;
}
table tbody tr{
         height: 80px;
         border-bottom: 2px solid #22262e;
         font-weight: 600;
         font-size: 1.1rem;
}
.img{
         display: flex;
         align-items: center;
         cursor: pointer;
}
.img img{
         width: 30px;
         height: 30px;
         margin-right: 20px;
}
.selected{
         color: green;
}
.err{
         color: red;
}